/* Css for the code involving the footer Area */
footer
{

    background-color: #29323C;

    grid-area: footer;
}

#footer
{
  flow-direction:column;
  margin-top: 30px;

  background-color: #ECF0F1;

  width: 100%;
  height: 300px;
  bottom: 0px;
}

/*  */
#footer-Copyright
{
  width: 100%;
  height: 100px;
}

#footer-Copyright p
{
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-family: roboto;
  text-align: center;
}
