@import url("header.css");
@import url("footer.css");
@import url("main.css");


#page_setup
{
    display: grid;
    width: 100%;

    margin: 0px;

    grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-gap: 25px;

        background-color: #29323C;

    grid-template-areas: "head"
                         "main"
                         "footer";
}
