#page_setup
{
    display: grid;
    width: 100%;

    margin: 0px;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 98px auto 1fr;
    grid-gap: 25px;

    grid-template-areas: "head head head head head head head head"
                         "main main main main main main main main"
                         "footer footer footer footer footer footer footer footer";
}

header
{
    background: #ECF0F1;
    grid-area: head;

}

#header_section
{
	margin:0px;
	width: 100%;

	display: grid;
	grid-gap: 10px;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;

	grid-template-areas: "header_section_logo header_section_logo header_section_search header_section_search header_section_search header_section_search header_section_search header_section_nav header_section_nav header_section_nav";

}

#header_section_logo
{
	grid-area: header_section_logo;

}

#search_logo
{

}

#header_home_logo
{
  background-color: white;
  width: 300px;
  height: 78px;

  margin-top:10px;
  margin-left: 10px;

}

#header_section_search
{
	grid-area: header_section_search;

}

#header_section_nav
{
	grid-area: header_section_nav;

}

#search_form
{

}

#search_form
{
	margin-top: 10px;
}

#search_area
{
	width: 100%;
	margin-left: 25px;
	margin-right: 25px;

  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "search_area_box search_area_box search_area_box search_area_box search_area_button search_space";
}

#searchbox_area
{
  grid-area: search_area_box;
}
#searchbutton_area
{
  grid-area: search_area_button;
}

#search_space
{
  grid-area: search_space;
}


nav
{
	margin-top: 10px;
}

.header_section_navigational_logos
{
	width: 68px; height: 68px;
	display: block;
}

.header_section_navigational_logos i
{
	font-size: 46px;

	display: inline-block;
	text-align: center;
	width: 100%;


	margin-top: 10px;

}

.header_section_navigational_logos
{
	display:inline-block;

	width: 68px;
	height: 68px;

	margin:0px;

}

.header_section_navigational_links
{
	transition-duration:1s;

}

.header_section_navigational_links:link
{
	color: #2980B9;
}

.header_section_navigational_links:visited
{
	color: #2980B9;
}

.header_section_navigational_links:hover
{
	color: #E84118;
}

main
{
    background: yellow;

    grid-area: main;
}

footer
{

    background: #ECF0F1;

    grid-area: footer;
}
